<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freshbite2go - Vegetable Wraps</title>
</head>
<body class="flex flex-col items-center bg-[#FFCB32] mt-6 text-green-800 text-xl">
    {% extends 'base.html' %}
    {% load static %}
    {% block content %}
    {% include 'navbar.html' %}

    {% if not product_entries %}
    <p class="font-sans text-3xl text-green-800 mt-14">Belum ada data produk pada Freshbite2go :D</p>
    <img src="{% static 'image/sad_sandwich.png' %}" alt="Sad face" class="w-32 h-32 mb-4 mt-10"/>
    {% else %}
    <div class="mx-4 my-10 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for product_entry in product_entries %}
        <div class="bg-[#B1D8B7] mt-4 rounded-lg shadow-md p-4 text-center">
            <h2 class="font-bold text-xl mb-2">{{ product_entry.name }}</h2>
            <p class="text-gray-700 mb-2">Price: {{ product_entry.price }}</p>
            <p class="text-gray-500 mb-4">{{ product_entry.description }}</p>
            <div class="flex justify-center space-x-2">
                <a href="{% url 'main:edit_product' product_entry.pk %}">
                    <button class="bg-blue-500 text-white px-3 py-1 rounded hover:bg-[#B1D8B7] hover:text-blue-600 hover:-translate-y-1 transition ease-in-out">
                        Edit
                    </button>
                </a>
                <a href="{% url 'main:delete_product' product_entry.pk %}">
                    <button class="bg-red-500 text-white px-3 py-1 rounded hover:bg-[#B1D8B7] hover:text-red-600 hover:-translate-y-1 transition ease-in-out">
                        Delete
                    </button>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <a href="{% url 'main:create_product_entry' %}">
        <button class="bg-green-500 text-white px-5 py-2 my-4 rounded hover:bg-green-600 shadow-md transform hover:-translate-y-1 transition ease-in-out">
            Add New Product
        </button>
    </a>

    <a href="{% url 'main:logout' %}">
        <button class="bg-gray-500 text-white px-5 py-2 my-2 rounded hover:bg-gray-600 shadow-md transform hover:-translate-y-1 transition ease-in-out">
            Logout
        </button>
    </a>

    <h5 class="mt-4">Sesi terakhir login: {{ last_login }}</h5>
    {% endblock content %}
</body>
</html>
